/*affects name*/
.Profile {
  text-align: center;
}

.profilewrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 25rem;
  /*background-color: red;*/
}

.profilewrapper .profileimg {
  flex-shrink: 0;
  min-height: 100%
}

.catname {
  font-size: 2rem;
  margin-top: 0rem;
}
